In [3]:
import pandas as pd

tips = pd.read_csv('tips-1.csv')

Question 1

In [10]:
print("First 10 rows:", tips.head(10))
print("DataFrame Info:", tips.info())

First 10 rows:    total_bill   tip     sex smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15
5       25.29  4.71    Male     No  Sun  Dinner     4              6.32
6        8.77  2.00    Male     No  Sun  Dinner     2              4.38
7       26.88  3.12    Male     No  Sun  Dinner     4              6.72
8       15.04  1.96    Male     No  Sun  Dinner     2              7.52
9       14.78  3.23    Male     No  Sun  Dinner     2              7.39

           Payer Name         CC Number Payment ID
0  Christy Cunningham  3560325168603410    Sun2959
1      Douglas Tucker  4478071379779230    Sun4608
2      Travis Walters  6011812112971322    Sun4458
3    Nathaniel Harris  4676137647685994    Sun5260
4        Tonya Carter  4832732618637221    Sun2251
5          Erik Smith   213140353657882    Sun9679
6  Kristopher Johnson  2223727524230344    Sun5985
7         Robert Buck  3514785077705092    Sun8157
8     Joseph Mcdonald  3522866365840377    Sun6820
9       Jerome Abbott  3532124519049786    Sun3775
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.1+ KB
DataFrame Info: None

Question 2

In [27]:
print(f"Average for total bill: ${(tips['total_bill'].mean()):.2f}")
print(f"Average for tip: ${(tips['tip'].mean()):.2f}")
print("Largest group:", tips['size'].max())

Average for total bill: $19.79
Average for tip: $3.00
Largest group: 6

Question 3

In [30]:
tips_lg = tips[tips['tip']>5]
print("Tips greater than $5:\n", tips_lg.head())
tips_din = tips[tips['time'] == 'Dinner']
# count = tips_din.shape[0]
print("\nDataset filtered by dinnertime:", len(tips_din))

Tips greater than $5:
     total_bill   tip     sex smoker  day    time  size  price_per_person  \
23       39.42  7.58    Male     No  Sat  Dinner     4              9.86
44       30.40  5.60    Male     No  Sun  Dinner     4              7.60
47       32.40  6.00    Male     No  Sun  Dinner     4              8.10
52       34.81  5.20  Female     No  Sun  Dinner     4              8.70
59       48.27  6.73    Male     No  Sat  Dinner     4             12.07

        Payer Name         CC Number Payment ID
23  Lance Peterson  3542584061609808     Sat239
44     Todd Cooper      503846761263    Sun2274
47    James Barnes  3552002592874186    Sun9677
52    Emily Daniel  4291280793094374    Sun6165
59     Brian Ortiz  6596453823950595    Sat8139

Dataset filtered by dinnertime: 176

Question 4

In [34]:
if tips.isnull().values.any():
  # Filling in missing values with the mean of the respective columns
  tips.fillna(tips.mean(), inplace=True)
else:
  print("No missing values")

No missing values

Question 5

In [33]:
tips['tip_percentage'] = (tips['tip'] / tips['total_bill']) * 100
tips['tip_per_person'] = (tips['tip'] / tips['size'])

print(tips.head())

   total_bill   tip     sex smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name         CC Number Payment ID  tip_percentage  \
0  Christy Cunningham  3560325168603410    Sun2959        5.944673
1      Douglas Tucker  4478071379779230    Sun4608       16.054159
2      Travis Walters  6011812112971322    Sun4458       16.658734
3    Nathaniel Harris  4676137647685994    Sun5260       13.978041
4        Tonya Carter  4832732618637221    Sun2251       14.680765

   tip_per_person
0        0.505000
1        0.553333
2        1.166667
3        1.655000
4        0.902500

Question 6

In [45]:
average_bill_day = tips.groupby('day')['total_bill'].mean()
print("Average bill per day:\n", average_bill_day)
avg_by_sex = tips.groupby('sex')['total_bill'].mean()
print("\nAverage by sex:\n", avg_by_sex)

Average bill per day:
 day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill, dtype: float64

Average by sex:
 sex
Female    18.056897
Male      20.744076
Name: total_bill, dtype: float64

Question 7

In [43]:
tips.to_csv('processed_tips.csv', index=False)